# Test Requirements
pytest
pytest-django


# Overrides for non Crate packages
git+https://github.com/dstufft/django-tastypie.git@12efc79288196135759a6a72b78733dc8221514c
git+https://github.com/toastdriven/django-haystack.git@7a7bef247cb7c8bc0180d18ec1d5f158971d913c
git+https://github.com/nvie/rq.git@978ba2dff97ef202b1de285ef72586c5499ffa12

# This override is only required in testing
git+https://github.com/dstufft/django-hstore.git


# This project
-e .
