<html>
  <head>
    <title>Links for {{ project.name }}</title>
  </head>
  <body>
    <h1>Links for {{ project.name }}</h1>

    {% for file in files -%}
      <a href="{{ file.hashed_uri }}">{{ file.filename }}</a>
    {% endfor %}

    {% if not restricted -%}
      {% for version in versions -%}
        {% for label, uri in version.uris.iteritems() %}
          {% if label|lower == "home page" or label|lower == "homepage" -%}
            <a href="{{ uri }}" rel="homepage">{{ version.version }} home_page</a>
          {%- endif %}
        {%- endfor %}
        {% if version.download_uri -%}
          <a href="{{ version.download_uri }}" rel="download">{{ version.version }} download_url</a>
        {%- endif %}
      {%- endfor %}
    {%- endif %}

    {# TODO(dstufft): Handle the URIs that we need to parse from the version descriptions #}
  </body>
</html>
